// VARIABLES

// Colors
$primary-color: #112d4e !default;
$secondary-color: #dbe2ef !default;
$white: #fff !default;
$black: #252525 !default;
$steel-blue: #3f72af !default;
$light-grey: #f4f4f4 !default;
$dark-grey: #c4c4c4 !default;
$link-color: #1eaedb !default;
$font-color: #111 !default;
$granite-gray: #656565 !default;
$gainsboro: #d4d4d4 !default;
$cultured: #f3f4f5 !default;
$anti-flash: #f1f1f1 !default;
$orange-red: #ff5252 !default;

// Typography
$font-family: "Poppins", sans-serif;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-reg: 400 !default;
$font-weight-light: 300 !default;

// Breakpoints
$bp-xxs: 375px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
$bp-xxl: 1440px !default;

// min

@mixin xxs-min {
  @media (min-width: $bp-xxs) {
    @content;
  }
}

@mixin xs-min {
  @media (min-width: $bp-xs) {
    @content;
  }
}

@mixin sm-min {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md-min {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg-min {
  @media (min-width: $bp-lg) {
    @content;
  }
}

// max

@mixin xxs-max {
  @media (max-width: $bp-xxs) {
    @content;
  }
}

@mixin xs-max {
  @media (max-width: $bp-xs) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin lg-max {
  @media (max-width: $bp-lg) {
    @content;
  }
}