// VARIABLES

// Colors
$primary-color: #112D4E !default;
$secondary-color: #DBE2EF !default;
$white: #FFF !default;
$black: #252525 !default;
$steel-blue: #3F72AF !default;
$light-grey: #F4F4F4 !default;
$dark-grey: #C4C4C4 !default;
$link-color: #1EAEDB !default;
$font-color: #111 !default;
$granite-gray: #656565 !default;
$gainsboro: #D4d4d4 !default;
$cultured: #F3F4F5 !default;
$anti-flash: #f1f1f1 !default;

// Typography
$font-family: 'Poppins', sans-serif;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-reg: 400 !default;
$font-weight-light: 300 !default;


// Breakpoints
$bp-xxs: 375px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
$bp-xxl: 1440px !default;